<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h5>Available ITEMS</h5>
      <div class="d-flex justify-content-start align-items-center">
        <div class="my-3">
          <button
            class="btn btn-outline-dark sortBtn"
            (click)="sortAvailableAscending()"
          >
            <i class="bi bi-sort-alpha-up"></i>
          </button>
          <button
            class="btn btn-outline-dark sortBtn ms-2"
            (click)="sortAvailableDescending()"
          >
            <i class="bi bi-sort-alpha-up"></i>
          </button>
        </div>
        <div class="mx-3" *ngIf="isSearchable">
          <input
            type="text"
            class="form-control"
            id="searchInput"
            (input)="searchInAvailableValues()"
            placeholder="search"
            [(ngModel)]="searchQuery"
          />
        </div>
      </div>

      <div
        class="list-group"
        cdkDropList
        #availableList="cdkDropList"
        [cdkDropListData]="availableItems"
        [cdkDropListConnectedTo]="[selectedList]"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="list-group-item"
          *ngFor="let item of availableItems; let i = index"
          (click)="selectItems(item)"
          [ngClass]="{ 'active-item': getSelectedValues(item) }"
          cdkDrag
        >
          {{ item[showKey] ? item[showKey] : item }}
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h5>Selected ITEMS</h5>
      <div class="d-flex justify-content-start align-items-center">
        <div class="my-3" *ngIf="isSortable">
          <button
            class="btn btn-outline-dark sortBtn"
            (click)="sortSavedAscending()"
          >
            <i class="bi bi-sort-alpha-up"></i>
          </button>
          <button
            class="btn btn-outline-dark sortBtn ms-2"
            (click)="sortSavedDescending()"
          >
            <i class="bi bi-sort-alpha-up"></i>
          </button>
        </div>
        <div class="mx-3" *ngIf="isSearchable">
          <input
            type="text"
            class="form-control"
            id="searchInput"
            [(ngModel)]="selectedSearchQuery"
            (input)="searchInSavedValues()"
            placeholder="search"
          />
        </div>
      </div>
      <div
        class="list-group"
        cdkDropList
        #selectedList="cdkDropList"
        [cdkDropListData]="savedSelectedItems"
        [cdkDropListConnectedTo]="[availableList]"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          class="list-group-item"
          *ngFor="let item of savedSelectedItems"
          (click)="selectItems(item)"
          [ngClass]="{ 'active-item': getSelectedValues(item) }"
        >
          {{ item[showKey] ? item[showKey] : item }}
        </div>
      </div>
    </div>
  </div>
</div>
