<div class="container">
  <div class="row py-5">
    <app-reusable-pick-list [options]="options"></app-reusable-pick-list>
  </div>
  
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <button class="btn btn-outline-danger ms-2">Save</button>
      <button class="btn btn-outline-danger ms-2">Delete</button>
      <button class="btn btn-outline-danger ms-2">Save All</button>
      <button class="btn btn-outline-danger ms-2">Delete All</button>
    </div>

  </div>
</div>